body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

img {
    width: 80px;
    height: 80px;
}

section#description {
    padding: 40px;
    text-align: center;
}

section#buttons {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}